   .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px ;
    font-size: 20px;
   }
   .title{
       display: flex;
       height:200px ;
       align-items: center;
   }
   .card_img{
       height:80% ;
       width:70% ;
       object-fit: cover;
       margin-right: 10px;
    }
   .header{
       font-weight: bold;
   }
   .search{
    width:50vw ;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 100px;
   }
   .rmv_btn{
    position:relative ;
    top:5px ;
    left:60px ;
    font-size: 20px;
   }
   .dropdown{
    position:absolute;
    top:30px ;
    right:500px ;
    font-size: 20px;
}
.dropdown_banner{
    font-size: 20px;
}
.dropdown_menu{
    font-size: 18px;
}
   @media ( max-width:1000px) {
       .rmv_btn{
         font-size: 10px;
         left:3px
       }
       .row{
        font-size: 10px;
       }
       .card_img{
        margin:0px ;
       }
       .dropdown{
        top:10px ;
        left:180px ;
        }
    .dropdown_banner,.dropdown_menu{
        font-size: 10px;
    }
   }