.page{
    background-image:url( "../../public/bgimg.jpeg") ;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-repeat:no-repeat; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.login_block{
    height:50% ;
    padding: 20px ;
    background-color:whitesmoke;
    border-radius: 20px;
}
.logo_par{
    display: flex;
}
.logo{
    height:50px ;
    width:50px ;
    margin: 10px;
}
h3{
    display: flex;
    align-items: center;
    font-weight: bold;
}
 .email_par,.name_par,.password_par{
margin-bottom:10px ;
}
label{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
}
.input_box{
    border-radius: 5px;
    width:80% ;
    height: 50%;
    font-size: 15px;
}
.register_btn{
    position: relative;
    bottom: 0px ;
    font-size: 15px;
    margin: 5px 0px 10px 0px ;
}
.login{
    font-size: 15px;
}
@media (max-width:1000px) {
    .login_block{
        height:55% ;
        max-height: 380px;
    }
}